.header {
  height: 350px;
  background-color: chocolate;
  background-image: url(https://www.transparenttextures.com/patterns/black-orchid.png);
  width: 63.3%;
  margin-top: 35px;
  margin-left: 36px;
  margin-right: 62px;
}

.profile-image {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  margin-top: 19px;
}
.item-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: sans-serif;
  margin: -11%;
}

@media only screen and (min-width: 300px) and (max-width: 850px) {

  .header { 
    height: 400px;
    width: 100%;
    background-color: chocolate;
    background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
    margin-top: -42px;
    margin-left: 0px
  }
  
  .profile-image {
    display: flex;
    flex-direction:inherit;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
  }
  
  .item-name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: sans-serif;
    padding-top: 60px;
  }

} 


