.header {
  height: 400px;
  width: 100%;
  background-color: chocolate;
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
  
}

.profile-image {
  display: flex;
  flex-direction:inherit;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.item-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: sans-serif;
}