nav {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4056a1;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  padding: 5px;
}

.logo {
  font-family: "Bungee";
  margin-left: 1.5em;
}

.top {
  font-family: "Source Sans Pro", sans-serif;
  margin-right: 1.5em;
}

.arrow {
  display: flex;
  justify-content: center;
  color: red;
}
.fa-solid {
  color: red;
}

.arrow i.fa-solid {
  animation: bounce2 1s ease infinite forwards;
}
@keyframes bounce2 {
  0% {
    transform: translateY(-0.2rem);
  }
  50% {
    transform: translateY(0.2rem);
  }
  100% {
    transform: translateY(-0.2rem);
  }
}