.submission {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
  color: black;
}

.button {
  background-color: #4056a1;
  color: #fff;
}

textarea {
  width: 100%;
  height: 60px;
  background-color: transparent;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 4px solid black;
  outline: none;
  overflow-wrap: break-word;
}

.heading {
  font-family: "Source Sans Pro", sans-serif;
}
.negative {
  color: red;
}

.red {
  color: red;
}